.music-li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin: 4px;
}
.music-li .play-button, .music-li .pause-button {
  display: none;
}
.music-li .music-image {
  width: 44px;
  height: 44px;
  margin: 0 4px;
  margin-right: auto;
}
.music-li .music-image:hover .play-button {
  width: 36px;
  height: 36px;
  position: relative;
  top: 0px;
  left: -64px;
}
.music-li .music-image:hover .pause-button {
  width: 36px;
  height: 36px;
  position: relative;
  top: 0px;
  left: -100px;
}
.music-li .music-title {
  min-width: 100px;
  margin: 0 4px;
  margin-right: auto;
}
.music-li .music-bpm {
  min-width: 40px;
  margin: 0 4px;
  margin-right: auto;
}
.music-li .music-key {
  min-width: 40px;
  margin: 0 4px;
  margin-right: auto;
}
.music-li .music-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  min-width: 160px;
  margin: 0 4px;
  margin-right: auto;
}
.music-li .music-tags .music-tag {
  color: #5e5e5e;
  min-width: 100px;
  margin: 0 4px;
}
.music-li .music-share {
  width: 28px;
  height: 28px;
  max-width: 32px;
  margin: 0 4px;
  margin-right: auto;
}
.music-li .music-cart {
  width: 32px;
  height: 32px;
  max-width: 32px;
  margin: 0 4px;
  margin-right: auto;
}