@import "../config.scss";

.sign-in {
  color: $color_2;
  font-size: $fss;
  text-decoration: none;
  padding: 0 4px;
  transition: $standart-transition;
  &:hover {
    transition: $standart-transition;
    color: $colora_2;
  }
}