* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.sign-in {
  color: #e1e1e1;
  font-size: 20px;
  text-decoration: none;
  padding: 0 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sign-in:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(225, 225, 225, 0.8);
}