.sign-in {
  color: #e1e1e1;
  font-size: 20px;
  text-decoration: none;
  padding: 0 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sign-in:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(225, 225, 225, 0.8);
}