* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font Sizes
$fsxs: 16px;
$fss: 20px;
$fsm: 24px;
$fsl: 28px;
$fsxl: 32px;
$fsxxl: 36px;
// Colors
$color_1: #000;
$color_2: #e1e1e1;
$color_3: #5e5e5e;
$color_4: #02050e;